<p id="notice"><%= notice %></p>

<h1>Listing Holidays</h1>
<br>
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Find by country
<span class="caret"></span></button>
<ul class="dropdown-menu">
	<li><%= link_to "All countries", holidays_path %></li>
	<% Holiday::COUNTRIES_HASH.each do |abbrv, full_name| %>
		<li><%= link_to "#{full_name}", holidays_path(:country => abbrv) %></li>
<% end %>
</ul>
</div>

<table class="table-striped">
	
  <thead>
    <tr>
      <th>Name</th>
	  <th>Country</th>
	  <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holidays.each do |holiday| %>
      	<tr>
        	<td id="name"><%= holiday.name %></td>
        	<td><%= holiday.country %></td>
        	<td><%= link_to 'Show dates', holiday_occurrences_path(holiday.id) %></td>
        	<td><%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_holiday_path(holiday) if logged_in? %></td>
        	<td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, holiday, method: :delete, data: { confirm: 'Are you sure?' } if logged_in? %></td>
      	</tr>
    <% end %>
  </tbody>
</table>

<br>