<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @holiday.country %>
</p>
<p>
	<strong>List of future dates:</strong>
	<br>
	<ul>
	<% @occs.each do |occurrence| %>
		<li>
			<%= occurrence.calendar_date.day %> |
			<%= link_to 'Delete occurrence', Occurrences.find_by(day: occurrence.calendar_date.day), method: :delete, data: { confirm: 'Are you sure?' } %>
		</li>
		<br>
	<% end %>
	</ul>
</p>

<%= link_to 'Destroy', @holiday, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
