<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @holiday.country %>
</p>

<%#= link_to 'Create new occurrence', new_occurrence_path if logged_in? %> | 
<%= link_to 'View upcoming dates for this holiday', holiday_occurrences_path(@holiday) %>
<%= link_to 'Destroy', @holiday, method: :delete, data: { confirm: 'Are you sure?' } if logged_in? %> |
<%= link_to 'Edit', edit_holiday_path(@holiday) if logged_in? %> |
<%= link_to 'Back', holidays_path %>
	 
	

