<div>
	<%= form_for :day, url: days_path do |f| %>
		<%= f.label :country %>
		<%= f.select :country, Country::COUNTRIES, :include_blank => true %>
		<br>
		<%= f.label :year %>
		<%= f.select :year, Day::YEARS %>
		<br>
		<%= f.label :month %>
		<%= f.select :month, Day::MONTHS %>
		<br>
		<%= f.label :day_of_month %>
		<%= f.select :day_of_month, Day::DAYS %>
		<br>
		<%= f.submit "submit" %>
		<br>
	<% end %>
</div>