<%= form_for(@occurrence) do |f| %>
  <% if @occurrence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@occurrence.errors.count, "error") %> prohibited this occurrence from being saved:</h2>

      <ul>
      <% @occurrence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :holiday_id %><br>
    <%= f.text_field :holiday_id %>
  </div>
  <div class="field">
    <%= f.label :calendar_date_id %><br>
    <%= f.text_field :calendar_date_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
